/* css bài 1 */

.main-bai1 {
    width: 500px;
    border: 1px solid black;
    background-color: #eeffff;
}

.main-bai1 h2 {
    margin-left: 10px;
}

.main-bai1 .p-title {
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}

.main-bai1 .p-detail {
    margin-left: 10px;
}

.main-bai1 span {
    margin-left: 10px;
}

.main-bai1 .warning {
    color: red;
}

.main-bai1 .warning p {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}


/* css bài 2 */

.main-bai-2 {
    width: 450px;
    height: 280px;
    background-color: #008000;
}

.main-bai-2 h2 {
    margin-left: 10px;
    padding-top: 20px;
}

.main-bai-2 p {
    margin-left: 10px;
}

.main-bai-2 ul {
    background-color: red;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* css bài 3 */

.p-title {
    color: #c56c76;
    font-weight: bold;
}

.img-icon {
    font-size: 50px;
    color: #c56c76;
}


/* css bài 4 */

.main-bai-4 .title {
    font-weight: bold;
    font-size: 30px;
    color: red;
}


/* css bafi 6 */

.main-bai-6 {
    text-align: center;
    width: 400px;
}

.main-bai-6 .banner {
    height: 150px;
    background-color: #f4f4f4;
    border-bottom: 3px solid #cccccc;
}

.main-bai-6 .banner p:first-child {
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
}


/* css bài 7 */

.main-bai-7 {
    width: 500px;
    margin-left: 20px;
}

.main-bai-7 .header {
    text-align: center;
}

.main-bai-7 .header p:first-child {
    font-weight: bold;
    font-size: 30px;
}

.main-bai-7 .header p:last-child {
    color: blue;
    font-size: 25px;
}

.main-bai-7 .footer u {
    color: blue;
}

.main-bai-7 .footer p:last-child {
    font-weight: bold;
    margin-bottom: 40px;
}


/* css bài 8 */

.main-bai-8 {
    width: 600px;
    background-color: #d8da3d;
}

.main-bai-8 ul {
    padding-top: 20px;
}

.main-bai-8 ul li {
    color: #88137a;
}

.main-bai-8 ul li span {
    color: blue;
}

.main-bai-8 p {
    color: #88137a;
    margin-left: 10px;
}

.main-bai-8 .title {
    font-weight: bold;
    font-size: 25px;
}

.main-bai-8 p:last-child {
    margin-bottom: 20px;
}

.main-bai-8 .p-end {
    padding-bottom: 20px;
}


/* css bài 9 */

.main-bai-9 {
    width: 500px;
    background-color: #ccccff;
}

.main-bai-9 h1 {
    padding-top: 20px;
    padding-left: 10px;
}

.p-1 {
    margin-left: 40px;
    color: #4a004a;
}

.p-1 span:first-child {
    font-weight: bold;
}

.p-1 span:last-child {
    margin-left: 30px;
}

.p-2 {
    margin-left: 40px;
    color: #000082;
}

.p-2 span:first-child {
    font-weight: bold;
}

.p-2 span:last-child {
    margin-left: 30px;
}

.p-4 {
    margin-left: 40px;
    padding-bottom: 20px;
    color: #000082;
}

.p-4 span:first-child {
    font-weight: bold;
}

.p-4 span:last-child {
    margin-left: 30px;
    margin-bottom: 20px;
}

.border-box {
    border: 2px solid black;
    border-style: dashed;
    margin-left: 20px;
    padding: 10px 0px;
    color: #4a004a;
    width: 460px;
}

.border-box span:first-child {
    margin-left: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.border-box span:last-child {
    margin-left: 50px;
}


/* css bài 12 */

.main-bai-12 table {
    text-align: center;
    border-collapse: collapse;
}

.main-bai-12 table tr th {
    border: 2px solid black;
}

.main-bai-12 table tr td {
    border: 2px solid black
}


/* css bài 13 */

.main-bai-13 {
    width: 685px;
    height: 835px;
    background-color: #A9D7D1;
    text-align: center;
}

.main-bai-13 .body-form {
    width: 665px;
    height: 775px;
    background-color: white;
    margin-left: 10px;
}

.main-bai-13 .body-form table td:first-child {
    float: right;
}


/* css bài 14 */

.main-bai-14 {
    width: 450px;
    margin-left: 20px;
}

.main-bai-14 legend {
    font-size: 20px;
    margin-left: 20px;
    width: 185px;
    color: blue;
}

.main-bai-14 .form-2 legend {
    width: 90px;
}

.main-bai-14 table {
    margin-left: 50px;
    margin-bottom: 10px;
}

.main-bai-14 table tr td:first-child {
    width: 80px;
}

.main-bai-14 .form-1 input {
    background-color: #FFFFA0;
}

.main-bai-14 .form-2 {
    height: 200px;
}

.main-bai-14 .form-2 input {
    border-radius: 5px;
}


/* css bài 15 */

.main-bai-15 {
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    height: 550px;
    background: rgb(36, 0, 0);
    background: linear-gradient(90deg, rgba(36, 0, 0, 1) 0%, rgba(121, 9, 9, 1) 100%);
}

.main-bai-15 .title {
    color: white;
}

.box-main {
    width: 320px;
    height: 400px;
    margin-left: 85px;
    background-color: #F7F7F7;
    border-radius: 20px;
    position: absolute;
    top: 40px;
}

.box-main .title {
    background-color: #1C050C;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.box-main .title span {
    margin-left: 90px;
    font-weight: 700;
}

.form-detail .custom-btn {
    background-color: #9F283D;
    border: 0px solid transparent;
    height: 35px;
    width: 135px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.box-main p {
    margin-top: 10px;
}