body{
	background: #D8DA3D;
}
a{
	color: blue;
	font-size: 20px;
	text-decoration: none;
}
a:hover{
	color: red;
}
#p-first{
	font-weight: bold;
	font-size: 35px;
}
#p-last{
	font-style: italic;
}
p{
	color: #870A7E;
	font-size: 20px;
}
ul li{
	font-size: 20px;
	color: #870A7E;
}