.conten{
	width: 40%;
	height: 550px;
	margin: 0 auto;
	background: #601d12;
	position: relative;

}
.layout1{
	border-radius: 15px ;
	width: 60%;
	height: 78%; 
	background: #ffff;
	margin-left: 20%;
	position: absolute;
	margin-top: 11%;
}
.layout2{
	width: 50%;
	height: 30px;
	border-radius: 5px;
	background:#9f283d;
	color: #ffff;
}
.layout3{
	background: #1c050c;
	width: 100%;
	height: 30px;
	text-align: center;
	color: #ffff;
	line-height: 30px;
	border-top-right-radius: 15px; 
	border-top-left-radius: 15px; 
}