/*b1*/
#b1-div-bg {
background-color: #F5FFFF;
padding: 5px 0px 5px 10px;
}
.b1-red{
	color: red;
}
/*b2*/
#b2-div-bg{
	background-color: green;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
}
#b2-ul-bg{
	background-color: red;
	margin-right: 15px;
	margin-bottom: 0px;
	padding-top: 10px;
    padding-bottom: 10px;
}
/*b3*/
#b3-h2{
	font-family: cursive;
    color: #E2737E;
}
#b3-p{
	line-height: 35px;
}
/*b4*/
#b4-h1{
	color: red;

}
td.b4-td-1 {
    padding-right: 25px;
}
/*b5*/
#b5-table {
    margin: 0 auto;
}
#b5-cap{
	font-weight: bold;
	color: red;
}
.b5-td-font{
	    color: blue;
    font-weight: bold;
}
.b5-td-bold{
	font-weight: bold;
}
.b5-td-italic{
	font-style: italic;
}
.b5-td-underline{
	text-decoration: underline;
}
.b5-td-6{

}
.b5-td-strike{
	text-decoration: line-through;
}
.b5-td-tele{
	font-family: monospace;
}
.b5-td-big {
    font-size: large;
}
.b5-td-small{
	font-size: small;
}
.b5-span-sub {
    vertical-align: sub;
}
.b5-span-sup {
    vertical-align: super;
}
/*b6*/
#b6-div1{
	padding-top: 20px;
	background-color: #FBFBFB;
}
.b6-div-c{
	text-align: center;
}
#b6-div2 {
    line-height: 40px;
}
/*b7*/
.b7-div-center{
	text-align: center;
}
/*b8*/
#b8-div{
	background-color:#DEE442; 
	color: #8c1283;
	padding: 10px 0px 20px 10px;
}
.b8-span{
	color:blue;
}
.b8-p{
	line-height: 40px;
}
/*b9*/
#b9-div{
	background-color:#d4d4ff; 
	padding: 10px 0px 20px 20px;
}
#b9-div div{
	margin-left: 20px;
}
#b9-div div p:last-child{
	position: relative;
    margin-left: 20px;
    margin-top: -15px;
}
#b9-div div:nth-child(4){
	    position: relative;
    padding-left: 16px;
    margin-left: 0px;
    margin-right: 18px;
    border: dashed black;
}
.b9-tim{
	color: #5E0000;
}
.b9-xanh{
	color: #00005f;
}
/*b10*/
#b10-table{
	border:1px solid black;
}
#b10-table td {
	border:1px solid black;
}
/*b11*/
#b11-thead{
	background-color: #d4d4d4d4;
}
.b11-color{
	background-color: #b2ed15;
}
/*b12*/
#b12-table{
	border: 2px solid black;
	border-collapse: collapse;}
#b12-table th{
border: 2px solid black;
}
#b12-table td{
border: 2px solid black;
}

.b12-title{
	text-align: center;
}
#b12-table tr td:first-child{
	font-weight: bold;
}
.b12-color1{
	color: #094291;
}
.b12-color2{
	color: #82c1f5;
}
.b12-color3{
	color: #308ade;
}
/*b13*/
#b13-div{
	text-align: center;
	background-color: #adddd6;
	padding: 5px 20px 20px 20px;
}
#b13-form{
	background-color: white;
}
#b13-table{
	margin: 10px auto;
	line-height: 25px;
}
#b13-table tr td:first-child{
	text-align: right;
	vertical-align: top;
}
#b13-table tr td:last-child{
	text-align:left;

}
#b13-table tr {
}
.b13-submit {
    margin: 10px auto;
    width: 70px;
    height: 30px;
    background-color: #59b3e7;
    color: #ffff;
    border-style: hidden;
    border-radius: 5px;
}
/*b14*/
.b14-form legend {
	color: blue;
	font-weight: bold;
}
.b14-form table tr td:first-child{
	text-align: right;
}
.b14-form table{
	margin-left: 50px;
}
.b14-button {
	border-radius: 5px;
}
#b14-submit {
    border-width: 3px;
    border-color: lightskyblue;
    }
.b14-form input[type='text']
{
	background-color: #ffffa0;
}
/*b15*/
#b15-div {
    width: 400px;
    padding: 20px;
    background-color: #641d10;
}
#b15-form {
    border-radius: 15px;
    margin: 40px 50px;
    background-color: white;
}
#b15-h2 {
    background-color: #1c050b;
    text-align: center;
    color: white;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding: 10px;
}
#b15-div2 {
    margin: 10px;
}
#b15-div2 input[type="text"] {
    height: 20px;
    padding-left: 10px
}
#b15-sel {
    height: 25px;
    margin: 0 38px;
    font-weight: bold;
    border-radius: 5px;
    width: 213px;
    text-align: center;
    font-size: 19px;
}
#b15-button {
    margin: 20px 20px 100px 77px;
    position: relative;
    text-align: center;
    height: 45px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-style: hidden;
    border-radius: 10px;
    background-color: #a3293d;
}
/*b16*/
.b16-button {
    width: 300px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #4891d4;
    border-style: hidden;
    border-radius: 10px;
}
/*b17*/
#b17-footer{
	    bottom: 0px;
    position: fixed;
    color: white;
    background-color: red;
    height: 30px;
    width: 100%;
    line-height: 30px;
}
/*b18*/