body{
	background: #611E13;
}
div#layer-one{
	background: white;
	border-radius: 20px;
	margin-left: 560px;
	margin-right: 560px;
}
#tip{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: #1C050C;
	color: white;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}
p{
	text-indent: 30px;
}
span{
	margin-left: 30px;
}
input[type="number"]{
	margin-left: 30px;
}
select{
	margin-left: 60px;
	border-radius: 6px;
	height: 50px;
	width: 250px;
	font-weight: 30px;
	font-size: 20px;
	text-align: center;
}
button {
	margin-left: 160px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 3px;
	border-width: 0.5px;
	background: #9F283D;
	color: white;
}
a{
	color: white;
	text-decoration: unset;
}