
#footer{
 background: #D8DA3D;
 margin-left: 15px;
}
#footer ul{
	margin-left: 30px;
	
}
h2{
	color: #860E7B;margin-left: 15px
}
.nd{
	color: #860E7B;
	line-height: 30px;
	margin-left: 15px;
}
#date{
	margin-top: 10px;
	color: #860E7B;margin-left: 15px;
}