.conten{
	width: 60%;
	height: 500px;
	margin: 0 auto;
	background: #eeffff;
	padding-left: 10px;
}
.layout1{
	font-size: 30px;
	padding: 25px 0px;
}
.layout2{
	font-size: 25px;
	margin: 25px 0px;
	margin-top: 0px !important;
	color: red;
}
.layout3{
	color: red;
}