.conten{
	width: 40%;
	height: 300px;
	margin: 0 auto;

}
.layout1{
	width: 200px;
	height: 50px;
	border-radius: 10px;
	background: #428bca;
	text-align: center;
	line-height: 50px
}
.layout2{
	font-family: arial;
	font-size: 20px;
	color: #ffff;
}