.conten{
	width: 60%;
	height: 1550px;
	margin: 0 auto;

}
.anh{
	width: 100%;
	height: 500px;
}
.task{
	margin-top: 42.8%;
	position: fixed;
	background: red;
	width: 60%;
	height: 40px;
	z-index: 100;
	text-align: center;
	color: #ffff;
}