body{
	font-family: arial;
}
div{
	text-align: center;
	background-color: #F4F4F4;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #CBCBCB;
}
div p#first{
	font-size: 30px;
	font-weight: bold;
}
div p#second{
	margin-top: 10px;
	padding-top: 0px;
	padding-bottom: 30px;
}
form{
	text-align: center;
}
form input[type="submit"]{
	margin-top: 15px;
}