.conten{
	width: 60%;
	height: 650px;
	margin: 0 auto;
	font-family: arial;
	border: 10px solid #a9d7d1;
}
.form-style{
	
}
.layout1{
	width: 100%;
	height: 35px;
	background: #a9d7d1;
	font-size: 23px;
	text-align: center;
}
.layout-left{
	float: left;
	clear: both;
	width: 400px;
	margin-top: 9px;
	text-align: right;
	margin-right: 12px;
	font-size: 15px;
}
.layout-right{
	float: left;
	font-size: 15px;
	margin-top: 9px;
}