.conten{
	width: 60%;
	height: 760px;
	margin: 0 auto;
	padding: 0px 15px;
	border: 0.5px solid black;
}
.layout1{
	padding-top: 5px;
	color: #c6686e;
	font-family: arial;
}
.layout2{
	padding: 15px 0px;
}
.layout3{
	padding-top: 10px;
}
.layout4{
	padding-top: 15px; 
}