div#div-first{
	text-align: center;
}
div p#p-first{
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
}
div p#p-second{
	font-size: 30px;
	text-decoration: underline;
	color: blue;
	font-weight: bold;
}
div p#p-last{
	font-weight: bold;
	padding-bottom: 50px;
}